// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0042DA;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: white;
$light-blue: #00909e;
$purple: #8067CF;
$my-red:#ff5252;
$my-grey:#FCFAF9;

$coral: #E57067;
