#photo-preview{
  width:100%;
}

.photo-create-event {
  height: 30vh;
  background-color: #f5efff;
  position: relative;
 }

 .photo-create-event h2 {
  text-align: center;
  padding: 20%;
 }

.lower-page {
  background-color: #eceff1;
}

.events-info {
  background-color: white;
  border-radius: 20px;
  margin: 20px 0px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
}


.string.required, .text.required, .string.optional, .time.required, .integer.optional {
  font-size: 20px;
}


// ::-webkit-input-placeholder {
//     color: red;
// }
// :-moz-placeholder {
//     /* FF 4-18 */
//     color: red;
//     opacity: 1;
// }
// ::-moz-placeholder {
//     /* FF 19+ */
//     color: red;
//     opacity: 1;
// }
// :-ms-input-placeholder {
//     /* IE 10+ */
//     color: red;
// }
// ::-ms-input-placeholder {
//     /* Microsoft Edge */
//     color: red;
// }
// ::placeholder {
//     /* modern browser */
//     color: red;
// }


 .add-event-picto {
    height: 50px;
    position: absolute;
    bottom: -23px;
    right: 18px;
    cursor: pointer;
  }


.container-topbar {
  display: flex;
  align-items: center;
  position: sticky;
  top:0;
  padding:1em;
}

#title-hospital-index {
  text-align: center;
  vertical-align: middle;
  color: #0F90F3;
}

#create-event-cta {
 background: #EA4242;
  text-align: center;
  height: 7vh;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-weight: normal;
}

// .justify-content-center {
//   height: 100vh;
// }

.actions {
  vertical-align: middle;
}
