.topbar {
background-image: linear-gradient(111.5deg, #1464c4 0.4%, #2198d6 100.2%);
height: 7em;
  color:white;
  position:sticky;
  top:0;
  z-index: 1;

  h1 {
    color: white;
    font-size: 20px;
    margin: 0;
  }
}

.fa-bell{
  position:relative;
  color:white;
  pointer: cursor;
}

.fa-bars{
  font-size: 1em !important;
}

.fa-home{
  position:relative;
  color:white;
  font-size: 2.5em;
  margin-left: 8px;

 }

#photo-preview{
  width:100%;
}

.photo-create-event {
  height: 30vh;
  background-color: #f5efff;
  position: relative;
 }

 .photo-create-event h2 {
  text-align: center;
  padding: 20%;
 }

.lower-page {
  background-color: #b1dce3;
}

.events-info {
  background-color: white;
  border-radius: 20px;
  margin: 20px 0px;
}


.string.required, .text.required, .string.optional, .time.required, .integer.optional {
  font-size: 20px;
}


::-webkit-input-placeholder {
    color: red;
}
:-moz-placeholder {
    /* FF 4-18 */
    color: red;
    opacity: 1;
}
::-moz-placeholder {
    /* FF 19+ */
    color: red;
    opacity: 1;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: red;
}
::placeholder {
    /* modern browser */
    color: red;
}


 .add-event-picto {
      height: 50px;
    position: absolute;
    bottom: -23px;
    right: 18px;
    cursor: pointer;
  }


.container-topbar {
  display: flex;
  align-items: center;
  position: sticky;
  top:0;
  padding:1em;
}

#title-hospital-index {
  text-align: center;
  vertical-align: middle;
  color: #0F90F3;
}

#create-event-cta {
  background-color: $blue;
  text-align: center;
  height: 7vh;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-weight: normal;
}

// .justify-content-center {
//   height: 100vh;
// }

.actions {
  vertical-align: middle;
}
