.banner-create-event {
  display: flex;
  justify-content: left;
  text-align: center;
  align-items: center;
  background-color: #a594f9;
  height: 10vh;

  h1 {
    color: white;
    font-size: 26px;
  }
}

.photo-create-event {
  height: 30vh;
  background-color: #f5efff;
  position: relative;

  #add-event-picto {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: -23px;
    right: 18px;
    cursor: pointer;
  }

}

.lower-page {
  background-color: white;
}


.form_group {
  text-decoration: underline;

.form_group > label {
    color: red;
  }
}
