.body-home {
  background-color: $coral;
  height: 40vh;
  text-align: center;
}

.first-home {
  padding-top: 3em;
  display:flex;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center
}
.slogan {
  color: white;
}

.slogan h1 {
  margin-top: 3em;
}

#typed-strings h1 {
  font-size: 26px;
}

.text-home {
  text-align: left;
  color: white;
}

#text-home-2 {
  font-size: 15px;
  color: white;
  text-align: center;
  vertical-align: middle;
}


.slogan-text {
  display: flex;
  align-items: center;
  font-size:20px;
}

.search-field {
  width: 90%;
  font-size: 14px;
}

.top-home {
  width: 100%;
  height: 5vh;
  background-color: $coral;
  display: flex;
  justify-content: space-between;
  padding-left: 3em;
  padding-right: 3em;
  vertical-align: middle;
}

.top-home {
  h2{
    margin-top:1em;
  }
}

#logo-hplace {
  height: 30px;
  width: 30px;
}

.btn-signin {
  color:white;
  font-weight: bold;
  // background: white;
  // opacity:0.7;
  // font-size: 16px;
  // padding: 1.5vh;
  // border-radius: 5px;
  // max-height: 7vh;
  // text-decoration: none;
  // vertical-align: middle;
  margin-top: 1em;
}
