.profil-infos {
  background-color: $purple;
  width: 100vw;
  height: 40vh;
  position: relative;
  display: flex;
  align-items:center;
  justify-content:center;
  display: none;
}

h2 {
  a{
    text-decoration: none;
    color:black;
    &:hover{
      opacity: 0.8;
    }
  }
}

.links-dash {
  position: absolute;
  font-size: 3em;
  right: 5%;
  top: 2%;
  list-style: none;

}

.dropdown-item {
  font-size: 12px;
  text-align: right;
}

.profil-image-name {
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 3em;
}

.dropdown-toggle {
  width: 5vh;
  height: 5vh;

}

.infos-events-user {
  position: absolute;
  display: flex;
  color: white;
  bottom: 5%;
}

.text-event {
  text-align: center;
}

.dropdown-menu {
  width: 80px;
}

.disc{
  display: inline-grid
}
