<div class="container">
  <p>Vos évéments</p>
  <div class="cards-new">
    <% Event.where(user: current_user).each do |event| %>
      <%= render 'shared/card', event: event %>
    <% end %>
  </div>
  <div>
  <br>
    <br>
    <p>Les evenements auxquels pour participez:</p>
    <div class="cards-new">
      <% @user.events.each do |event| %>
        <%= render 'shared/card_new_event', event: event %>
      <% end %>
    </div>
  </div>
</div>

