 <div class="profil-infos">
  <div class="links-dash">
    <i class="far fa-edit" style="color:white; margin-right: 1em;"></i>
    <i class="fas fa-cog" style="color:white;"></i>
  </div>
  <div class="profil-image-name">
    <%= cl_image_tag @user.photo.key, height: 60, width: 60, class: "avatar-bordered" %>
    <%= @user.username %>
  </div>
  <div class="infos-events-user">
    <div class="text-event" style="margin-right: 30vw">
      <h4 style="font-size: 3em;"><strong>4</strong></h4>
      <p style="font-size: 2em;"> Événements à venir</p>
    </div>
    <div class="text-event">
      <h4 style="font-size: 3em;"><strong>3</strong></h4>
      <p style="font-size: 2em;"> Invitations</p>
    </div>
  </div>
</div>

<div class="container">
   <p>Vos évéments</p>
  <div class="cards-new">
    <% events = Event.where(user: current_user).sort_by {|event| event.start} %>
    <% events.each do |event| %>
      <%= render 'shared/card', event: event %>
    <% end %>
  </div>
   <br>
    <br>
    <p>Les evenements auxquels pour participez:</p>
    <div class="cards-new">
      <% events = @user.events.sort_by {|event| event.start} %>
      <% events.each do |event| %>
        <%= render 'shared/card_new_event', event: event %>
      <% end %>
    </div>
  </div>

