<div class="container">
  <h1> Vos notifications : </h1>

  <% @notifications.each do |notification| %>
    <div class="notification">
      <%= render 'shared/notification', notification: notification %>
    </div>
  <% end %>
  <% @notications_seen.each do |notification| %>
    <div class="notification-seen">
      <%= render 'shared/notification', notification: notification %>
    </div>
  <% end %>
</div>
