<% if user.photo.attached? %>
  <div class= "text-center">
    <%= cl_image_tag user.photo.key, height: 50, width: 50, crop: :fill, class: 'avatar' %>
  </div>
<% else %>
  <div class= "text-center">
    <%= cl_image_tag "smiley-logo.jpg", height: 50, width: 50, crop: :fill, class: 'avatar' %>
  </div>
<% end %>

<%= user.username %>
