<div class='navbar'>
       <p class="navbar-icon "><i class="fas fa-home"></i></p>
      <p class="navbar-icon active"><i class="fas fa-comment"></i></p>
      <p class="navbar-icon"><i class="fas fa-bell"></i></p>
      <p class="navbar-icon"><i class="fas fa-columns"></i></p>
 </div>
