
<%= link_to :back , id: "test" do %>
  <%= image_tag "arrow_back.svg", id: 'arrow' %>
  <%#= image_tag "photo.png", class: "add-event-picto", id: 'photo-input'%>
<% end %>
    <h1><%= @name_page %></h1>
