<div class="container">
  <div class="row">
    <%= @hospital.name %>
    <br>
     <% @hospital.events.each do |event| %>
      <%= render 'shared/card', event: event %>
    <% end %>
  </div>
</div>


