<br>
<br>
<div class="container">
  <h2 id="title-hospital-index"><%="#{@hospital.events.count} événements vous sont proposés à #{@hospital.name}" %></h2>
  <%= render 'shared/add_event_btn' %>
  <br>
  <div class="cards-new">
    <% events = @hospital.events.sort_by {|event| event.start} %>
    <h2>Évenements à venir</h2>
    <% events.each do |event| %>
      <%= (render 'shared/card_new_event', event: event) if event.start > DateTime.now %>
    <% end %>
    <h2>Évenements passé</h2>
    <% events.each do |event| %>
      <%= (render 'shared/card_new_event', event: event) if event.end < DateTime.now %>
    <% end %>
  </div>
</div>


