<div class="header-create-event">
  <div class="banner-create-event">
    <%= render "shared/topbar" %>
  </div>

  <div class="photo-create-event">
    <h2 id="title-hospital-index"><%="Il y a #{@hospital.events.count} évenements à #{@hospital.name}" %></h2>
  </div>
</div>


<div class="container">

    <br>
    <div class="cards-new">
      <% events = @hospital.events.sort_by {|event| event.start} %>
       <% events.each do |event| %>
        <%= render 'shared/card_new_event', event: event %>
      <% end %>
    </div>
  </div>


