<div class="container">

    <h2>
      <%="Il y a #{@hospital.events.count} évenements à #{@hospital.name}" %>
    </h2>
    <br>
    <div class="cards-new">
       <% @hospital.events.each do |event| %>
        <%= render 'shared/card_new_event', event: event %>
      <% end %>
    </div>
  </div>


