.card_participant{
  display: inline-grid;
  margin: 2vh;
  margin: 2vh;
  padding-top: 2vh;
  text-align: center;
  min-width: 10vw;
  min-height: 20vh;

  p{
    color: $gray;
  }
}

.cards_participant{
  scroll-direction: horizontal;
}

.click-to-user {
  &hover{
    color:red;
  }
}
