.card_participant{
  display: inline-grid;
  margin: 2vh;
  margin: 2vh;
  padding-top: 2vh;
  text-align: center;
  width: 15vh;
  height: 15vh;

  p{
    color: $gray;
  }
}

.cards_participant{
  width: 100%;
  overflow-y: auto;

}

.click-to-user {
  &:hover{
    color:red;
  }
}
