// TO DELETE
.ring {
   position:relative;
}
.button_badge {
  display:none;
  background-color: #fa3e3e;
  border-radius: 50%;
  color: white;
  padding: 0.5em;
  font-size: 1.2em;
  opacity: 0.8;
  position: absolute;
  top: -0.3em;
  right: 2em;
  z-index: 1;
  height: 2em;
  width: 2em;
}
