.banner {
  height: 50vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 15px;
    font-weight: lighter;
  }
  .btn {

  }
}

#arrow-picto {
  padding-left: 2em;
  padding-bottom: 1em;
}


.dropdown-item {
  font-size: 12px;
  text-align: right;
}

.dropdown-menu .dropdown-menu-right {
  width: 50px;
}
