.btn-round{
  background-color: $blue;
  color: white;
  padding: 14px 21px;
  border-radius: 50%;
  font-weight: bold;
  opacity: 1;
  width: min-content;
  height: min-content;
  font-size: 3vh;
  &.sticky{
    position: fixed;
    bottom: 2vh;
    right: 7vw;
    z-index: 20;
  }
}

.sign-in-home {
  width: 38%;
}

.btn-participer{
  background: $blue;
  border-radius: 5px;
  font-size: 13px;
  padding: 1.3vh;
  color: white;
  margin-top: 2em;
  width: fit-content;
  height: fit-content;

  &:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    opacity: 0.8;
    text-decoration:none;
    color: white;
  }
}

.btn-desinscrire{
  background: grey;
  border-radius: 5px;
  font-size: 13px;
  padding: 1.3vh;
  color: white;
  opacity: 0.6;
  margin-top: 1em;

 &:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    opacity: 0.8;
    text-decoration:none;
    color: white;
  }
  a:active{
    text-decoration:none;
    color: white;
  }

}

.btn-chatroom{
  color:black;
  font-weight: bold;
  background: white;
  opacity:0.7;
  font-size: 13px;
  padding: 1.5vh;
  border-radius: 5px;
  max-height: 7vh;
}

.update-event{
  color:white;
  font-weight: bold;
  font-size: 3em;
  margin:1vh;
  display:flex;
  justify-content: between;
  align:right;

a{
  color:white !important;
  margin-left: .5em;
  padding-bottom: 1em;
}

}



.link_to{
  &:hover{
    text-decoration:none;
  }

}

#btn-signin {
  color:black;
  font-weight: bold;
  background: white;
  opacity:0.7;
  font-size: 16px;
  padding: 1.5vh;
  border-radius: 5px;
  max-height: 7vh;
  text-decoration: none;
  vertical-align: middle;
  padding-top: 2em;
}
