.top-events-leo h1 {
  font-size: 32px;
  text-align: center;
  padding: 20px;
}

.card-event-leo {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  position:relative;
  margin-bottom: 0.5em;
}
.card-event-leo .card-link-leo{
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.card-event-leo > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-event-leo h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-event-leo p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-event-leo .card-event-infos-leo {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-event-infos-leo .card-event-user-leo {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-reservation-leo {
  overflow: hidden;
  height: 170px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 3px;
  position:relative;

  }



  .card-reservation-leo .card-link-leo{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
  }

.card-reservation-leo .event-img-leo {
  height: 85px;
  width: 85px;
  object-fit: cover;
}

.card-reservation-leo h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-reservation-leo p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-reservation-leo .card-reservation-infos-leo {
  padding: 16px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  width: 100%;

  h2{
    text-align: left;
  }
 }


.card-reservation-infos-leo .card-event-owner-leo {
  position: absolute;
  right: 8px;
  top: 10px;
  width: 35px
};



.cards-leo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-leo {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-leo {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-leo {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-leo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-leo {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

