.card_participant{
  display: inline-grid;
  margin: 2vh;
  margin: 2vh;
  padding-top: 2vh;
  text-align: center;
  width: 15vh;
  height: 15vh;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);


  p{
    color: $gray;
  }

  &:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }
}


.cards_participant{
  width: 100%;
  overflow-y: auto;
}

.link_to{
  &:hover{
    text-decoration:none;
  }
}

.show-event{
  margin:0;
}



.banner{
  color:white;
}

.tete-single-event {
   justify-content: start;
   align-items: flex-start;
}

.date-event-show {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 16px;
  font-weight: bold;
}

.badge-info {
  width: 5em;
  vertical-align: middle;
  text-align: center;
  color: white;
  height: 3em;
  background-color: #673ab7;
}
