.card-event-old{
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  position:relative;
  margin-bottom: 0.5em;
  position: relative;
  height: 22em;
    .event-image{
      background-size: cover;
      background-position: center;
      height:22em;
    }

    .event-text{
      margin-left: 2em;
      color:white;
    }


    .card-info{
      display:flex;
      position:absolute;
      bottom: 1em;
      justify-content: space-between;
    }

    .card-title{
      font-weight: bold;
    }
    h2{
      margin-bottom:0;
      color: #8F5750;
    }
    p{
      color: white;
      margin-top:0;
      font-size:2em;
    }
    .card-link{
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
}

.card-event-new {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 5px;
  position:relative;
  margin-bottom: 0.5em;
  position: relative;
  height: 65vh;
  display: inline-grid;
  min-width:80%;
  margin: 1em;


    .event-image{
      background-size: cover;
      background-position: center;
      height:65vh;
     }

    .card-title{
      color:white;
      font-weight: bold;
      font-size: 5em;
      margin: 1.5rem;
    }


    h2{
       color: white;
       margin-bottom:0;

    }
    p{
      font-size:2em;
      color:white;
    }
}

.card-top{
  display:flex;
  justify-content:space-between;
   .max-participants{
      font-size:2em;
      margin:2rem;
    }
}


.past-event{
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.5;
}

.card-event-infos-new{
  margin: 1.5rem
}
.card-event-new .card-link{
  position: absolute;
  display: inline-grid;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.cards_participant{
  width: 100%;
  overflow-y: auto;
}
.cards-new {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;
}

#number-of-participants {
  padding-left: 20px;
  padding-top: 30px;
}

.cards-disc{
 width: 100%;
 overflow-y: scroll;
 }


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-new {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-new {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-new {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-new {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-new {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


