.card-agenda {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  position: relative
}

.card-agenda .btn-round{
  font-size: 2em;
  padding: 10px 15px;
  position: absolute;
  right: 0.5em;
}

.card-agenda .organiser-star{
  position: absolute;
  top: .5em;
  right: .5em;
}

.card-agenda .badge-pill{
  font-size: 10px !important;

}
.card-agenda img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-agenda .card-agenda-info .agenda-info-not-title{
  margin-top: 9px !important;

}

.card-agenda h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2em;
}

.past-event{
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.5;
}

.card-agenda p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 0;
}

.card-agenda .card-agenda-infos {
  padding: 16px;
}




.card-event-new {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 20px;
  position:relative;
  margin-bottom: 0.5em;
  position: relative;
  height: 65vh;
  display: inline-grid;
  min-width:80%;
  margin: 1em;

  &:first-child {
    margin-left: 2em;
  }
  &:last-child{
    margin-right: 2em;

  }

   .event-image{
    background-size: cover;
    background-position: center;
    height:65vh;
   }

  .card-title{
    color:white;
    font-weight: bold;
    font-size: 5em;
    margin: 1.5rem;
  }



  h2{
     color: white;
     margin-bottom:0;

  }
  p{
    font-size:2em;
    color:white;
  }
}

.card-top{
  display:flex;
  justify-content:space-between;
   .max-participants{
      font-size:2em;
      margin:2rem;
    }
}

.event_max_participants {
  p {
  font-size: 20px;
}
}


.card-event-infos-new{
  position: absolute;
  bottom:0;
  left: 5px;
  margin: 1.5rem
}
.card-event-new .card-link{
  position: absolute;
  display: inline-grid;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.cards_participant{
  width: 100%;
  overflow-y: auto;
}
.cards-new {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  position: relative;
}

#number-of-participants {
  padding-left: 20px;
  padding-top: 30px;
}

.flex-between {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  align-items: left;
  margin-bottom: 10px;
  font-size: 16px;
}

.three-blocks {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  align-items: center;
  font-size: 16px;
}

#submit {
  width: 100%;
  margin-top: 10px;
}

#counter {
  margin: 0 15px;
}

.round-bordered {
  border: 1px solid #5a5a5a;
  border-radius: 50%;
  width: 50px;
  font-size: 18px;
  color: #848484;
  height: 50px;
  padding: 6px;
  margin: 6px;

}

.cards-disc{
 width: 100%;
 overflow-y: scroll;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards-new {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards-new {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-new {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards-new {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards-new {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


