.incrementer-plus {
  padding-top: 10px;
}

.incrementer-minus {
  padding-top: 10px;
}


// .form-group {
//   width: 80%;
// }

.events-info input {
  border-bottom: 1px solid black;
  width: 100%;
}


.events-info {
  width: 80%;
}

.form-group.hidden.event_max_participants .actions p {
  font-size: 20px!important;
}

.horaires {
  width: 100%;
  justify-content: space-evenly;
}

// input::placeholder {
//   color: rgb(222, 226, 230) !important;
//   font-size: 20px;
// }

// .starticker::placeholder{
//     color: red !important;
// }



