.banner-modal {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
  background-position: center;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
  p {
    color: white;
    opacity: .8;
    font-size: 15px;
    font-weight: lighter;
  }
  .btn {

  }
}

.modal-body {
  padding: 0rem;
}

.closing-button {
  font-weight: bold;
  font-size: 3em;
  position: absolute;
  right: 0.8em;
  top: 0.5em;
  color: white !important;
  opacity: 10 !important;
}
