.navbar{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $purple;
  position: fixed;
  bottom: 0;
  width: 100%;

   .active{
background-color:#43366E;   }

  p{
  color: white;
  text-align: center;
  size: x-large;
   }

}



.navbar-icon{
  padding: 1vh 8vw;
  margin: 0;
 }


