.navbar{
  padding: 1em;
  overflow: hidden;
  background-color: #C4CBCA;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: inherit;
  .active{
    background-color:#F5F5F5;
    color:#C4CBCA;
   }

  p{
  color: white;
  text-align: center;
  font-size: x-large;
   }

}



.navbar-icon{
  padding: 1vh 8vw;
  margin: 0;
 }


