.notification {
  background: #F9F9F9;
  padding: 14px 16px;
  p{
    span{
      color: $orange;
    }
  }
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  z-index: 1;
  font-size: 0.5em;
  left: 1em;
  top: -5px;
  height: 2em;
  width: 2em;
  display: none;
  position:absolute;
  justify-content: center;
  align-items: center;

  p{
    color:white;
    top: auto;
    text-align: center;
    margin:0;
  }
}

.dropdown-item {
  font-size:14px !important;
  color:#EA4242;
  font-weight:bold;
}

.notification.unseen{
  border-left : 0.5rem solid;
  border-color: #EA4242;
  background: white;
}

.notification.unseen {
  a:hover,
  a:focus {
    text-decoration: none;
  }
}

.notification.seen {
  a:hover,
  a:focus {
    text-decoration: none;
  }
  border-left: 0.5rem solid transparent;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.link_to {
  color:black;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

#notification-alert{
  display:none;
}

.notification-dropwdown .dropdown-menu {
  width: 95vw;
  top: -2em !important;
  left: 1em !important;
  position: relative !important;
  padding: 0px;
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
}
.notification-dropwdown .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 7em;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #F9F9F9;
  border: 1px solid rgba(0,0,0,0.1);
  z-index: -1;
  transform: rotateZ(45deg);
}

.body-grise{
  background: rgba(0,0,0,0.8);
  z-index:400000000000!important;
  height: 200vh;
}

.body-grise .card-event-new.card-home-new {
  opacity:0.3!important
}

.body-grise .card-agenda {
  opacity:0.3!important
}

.animation.helping.show {
    width: 1px;
}

.notification .notification-content {
    p {
      font-size: 1.5em;
      line-height: 1.1em;
      opacity: 0.8;
    }
    h4 {
      font-size: 1.8em;
      color: $orange;
      margin-bottom: 0;
    }
}

.notification.seen .notification-content h4 {
  color: $super-gray;
  opacity: 0.5;
}

.see-more{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0.5em;
}

.notification-upper {
  text-align: center;
  padding: 1.1em;
  font-size: 2em;
  font-weight: bolder;
  background-color: #F9F9F9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 0px;
}

.notification-time {
  display: flex;
  align-items:center;
  justify-content: center;
  font-style: italic;
  font-size: 1em;
}

.notification-container {
  display: flex;
  align-items: center;
}
