.notification-dropwdown .dropdown-menu {
  width: 95vw;
  top: -2em !important;
  left: 1em !important;
  position: relative !important;
  padding: 0px;
}
.notification-dropwdown .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 7em;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  z-index: -1;
  transform: rotateZ(45deg);
}

.body-grise{
  background-color:black;
  opacity:0.5;
}
