.notification {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);

  p{
  font-size:small;
    strong{
      color:$light-blue;
    }
  }
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  z-index: 1;
  font-size: 0.5em;
  left: 1em;
  top: -5px;
  height: 2em;
  width: 2em;
  display: none;
  position:absolute;

  p{
    color:white;
    top: auto;
    text-align: center;
  }
}

.dropdown-item {
  font-size:14px;
  color:$light-blue;
  font-weight:bold;
}

.notification.seen{
  background: $light-gray;

}

.notification.unseen{
  background: $light-gray;
  border-left : 1rem solid;
  border-color: #00909e;
  background: white;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.link_to{
  color:black;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

#notification-alert{
  display:none;
}
