.notification {
  display: flex;
  align-items: center;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);

  p{

    strong{
      color: #EA4242;
    }
  }
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 50%;
  z-index: 1;
  font-size: 0.5em;
  left: 1em;
  top: -5px;
  height: 2em;
  width: 2em;
  display: none;
  position:absolute;

  p{
    color:white;
    top: auto;
    text-align: center;
  }
}

.dropdown-item {
  font-size:14px;
  color:#1D88D1;
  font-weight:bold;
}

.notification.seen{
  background: $light-gray;

}

.notification.unseen{
  background: black;
  opacity:0.5;
  border-left : 0.5rem solid;
  border-color: #1D88D1;
  background: white;
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.link_to{
  color:black;
}

.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  border: 2px solid #1EDD88;
}

#notification-alert{
  display:none;
}

.notification-dropwdown .dropdown-menu {
  width: 95vw;
  top: -2em !important;
  left: 1em !important;
  position: relative !important;
  padding: 0px;
}
.notification-dropwdown .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 7em;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  z-index: -1;
  transform: rotateZ(45deg);
}

.body-grise{
  background: rgba(0,0,0,0.8);
  z-index:400000000000!important;
  height: 200vh;
}

.body-grise .card-event-new.card-home-new {
  opacity:0.3!important
}

.animation.helping.show {
    width: 1px;
}

.notification .notification-content p {
  font-size:15px;
  &:hover{
    text-decoration: none;
  }
}
