  .time{
    // margin-left: 11vw !important;
    color: #838284;

  }

.simple_form {

  margin-top: 1em;


  .form-control {
      border: 0;
      border-bottom: solid 1px #dee2e6;
      // margin-left: 1em;
      padding:0;

      &.active{
              border: 0;

      }
  }

  div.form-group{
    display: flex;
    font-size:x-large;
    color: #5a4747;
    justify-content: space-between;
  }
  div.input {
    margin-bottom: 10px;
    clear: both;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;

   }
  label {
    float: left;
    width: 100px;
    text-align: right;
    margin: 2px 10px;
   }
}

div.boolean, .simple_form input[type='submit'] {
  margin:1vw;
  border: 0;
  font-size: 1.5em;
  color: white;
}

div.boolean label {
  float: none;
  margin: 0;
}

.first-block, .second-block, .third-block {
  border-radius: 10px;
}

.third-block {
  margin-bottom: 15px;
}


.actions {
  vertical-align: middle;
}
