.tabs-underlined {
  display: flex;
  align-items: center;
  margin: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  background-color: white;
  height: 7em;
  // position: fixed;
  // bottom:0;
}

.tabs-underlined .tab-underlined {
  color: #3f3f3f;
  margin: 8px 12px;
  padding:15px;
  margin-bottom:0px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;

  h2{
    font-size: 22px;
  }
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
  border-color: #EA4242;

}
